:root{
    --color-bright: #CCE3E7;
    --color-dim: #64787B;
    --color-dark: #35464A;
}
*{
    box-sizing: border-box;
}
body{
    padding:0;
    margin: 0;
    background-color: var(--color-dark);
    font-family: "Montserrat", sans-serif;
}
p{
    color: var(--color-bright);
}
button{
    font-family: "Montserrat", sans-serif;
}